.login_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form h3 {
  text-align: left;
  margin-bottom: 30px;
  font-size: x-large;
}

.login_form label {
  font-weight: bold;
}

.login_form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d3bebe;
  border-radius: 10px;
}

.login_form input[type="submit"],
.login_form input[type="reset"] {
  width: auto;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.login_form input[type="submit"]:hover,
.login_form input[type="reset"]:hover {
  background-color: #156918;
}
